<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage">
	
	<!-- 1. 1) 내가 신고한 내역(신고보고서) 목록보기 (게시판 메인화면) -->
	<select id="takeMyReportDTO" parameterType="java.lang.String" resultType="com.spring.dto.ReportDTO">
		select *, (select count(*) from adminreply where reportNo = r.reportNo) as replyCount 
		from reportboard r
		where r.reporter = #{reporter}
		order by r.reportNo desc
	</select>

	<!-- 1. 2) 그 해당 신고 게시판에 올라온 신고글 수 가져오기(페이지 작업때문에 필요하다. ) -->
	<select id="getReportCnt" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) 
		from reportboard  
		where reporter = #{reporter}
	</select>

	<!-- 2. 내가 신고한 내용 자세히 보기, 신고내용 수정하기 전에 수정대상 신고내역 가져오기-->
	<select id="readReportDTO" parameterType="java.lang.Integer" resultType="com.spring.dto.ReportDTO">
		select * 
		from reportboard 
		where reportNo = #{reportNo}
	</select>

	<!-- 3. 2) 신고내용 진짜 수정하기 -->
	<update id="modifyReportDTO" parameterType="com.spring.dto.ReportDTO" >
		update reportboard  
		set reason = #{reason}, detail = #{detail}, imageFileName = #{imageFileName, jdbcType=VARCHAR} 
		where reportNo = #{reportNo}     
	</update>
	
	
	<!-- 4. 2) 글 수정 시 이미 업로드한 사진 파일도 삭제 -->
	<update id="deleteImageFile" parameterType="com.spring.dto.ReportDTO">
		update reportboard  
		set imageFileName = #{imageFileName} 
		where reportNo = #{reportNo}
	</update>	
	
	
	
		<!-- 4. 1) 관리자에게 신고한 내역 검색 -->
	<select id="searchReportList" parameterType="com.spring.dto.ReportDTO" resultType="com.spring.dto.ReportDTO">
		select * 
		from  reportboard 
		where reporter = #{reporter} and
			<if test="type!=null and type == 'reason'">
				reason like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'postNo'">
				postNo like CONCAT('%',#{keyword},'%') 	
			</if>
				order by reportNo DESC 
	</select>
	
	<!-- 4. 2) 관리자에게 신고한 내역의 수(검색 후 페이징 작업을 위해서 필요하다. )-->
	<select id="searchReportCount" parameterType="com.spring.dto.ReportDTO" resultType="java.lang.Integer">
		select count(*)
		from  reportboard 
		where reporter = #{reporter} and
		<if test="type!=null and type == 'reason'">
			reason like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type!=null and type == 'postNo'">
			postNo like CONCAT('%',#{keyword},'%') 	
		</if>
	</select>

	<!-- 3. 신고내역 자체를 삭제(Deleting)한다.(이 신고철회는 신고자만 가능하다. ) -->
	<delete id="deleteReportDTO" parameterType="java.lang.Integer">
    	delete 
    	from reportboard 
    	where reportNo = #{reportNo}
    </delete> 

    <!-- 6. 1) 내가 쓴 글 목록(in 마이페이지) -->
	<select id="goMyPosts" parameterType="java.lang.Integer" resultType="com.spring.dto.PostDTO">
		select f.postNo, f.title, f.content, f.writer, f.regDate, f.viewCount, f.sameThinking, f.boardNo, f.imageFileName, 
				(select count(*) from reply where postNo = f.postNo) as replyCount, b.boardName
		from freeboard f, members m, boardincategory b
		where f.writer = m.nick and f.boardNo = b.boardNo and m.memberNo = #{memberNo}
		order by f.postNo desc
	</select>
	
	<!-- 6. 2) 그 해당 게시판에 써져있는 게시글 수 가져오기(페이징 작업때문에 필요하다. ) -->
	<select id="takeCountOfMyPost" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*) 
		from freeboard f, members m 
		where f.writer = m.nick and memberNo = #{memberNo}
	</select>
    
    
   
	<!-- 4. 내가 쓴 게시글의 조건별 검색 -->
	<select id="searchList" parameterType="com.spring.dto.PostDTO" resultType="com.spring.dto.PostDTO">
		select f.postNo, f.title, f.writer, DATE_FORMAT(f.regDate,'%Y-%m-%d') as regDate, f.viewCount, f.sameThinking, f.boardNo, b.boardName
		from freeboard f, boardincategory b
		where f.boardNo = b.boardNo and f.writer = #{writer} and
			<if test="type!=null and type == 'title'">
				f.title like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'content'">
				f.content like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'titleANDcontent'">
				(f.title like CONCAT('%',#{keyword},'%') OR f.content like CONCAT('%',#{keyword},'%'))
			</if>
				order by f.postNo DESC 
	</select>

	<!-- 1. 4) 게시글 검색후, "검색결과 수" (페이징 작업 때문에 필요하다.) -->
	<select id="searchCount" parameterType="com.spring.dto.PostDTO" resultType="java.lang.Integer">
		select count(*)
		from freeboard f, boardincategory b
		where f.boardNo = b.boardNo and f.writer = #{writer} and
			<if test="type!=null and type == 'title'">
				f.title like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'content'">
				f.content like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'titleANDcontent'">
				(f.title like CONCAT('%',#{keyword},'%') OR f.content like CONCAT('%',#{keyword},'%'))
			</if>
	</select>
	
</mapper>